doctype html
html(lang='es')
    include includes/head.pug
    +head("Productos | Proyecto N°5")
    body
        include includes/navbar.pug
        +navbar()
        div(class="container" style="margin-top: 4rem")
            if products.length > 0
                div(class="table-responsive")
                    table(class="table table-dark")
                        thead
                            tr(style="color: white;")
                                th Nombre
                                th Precio
                                th Foto
                        tbody
                            each product in products
                                tr
                                    td=product.title
                                    td=product.price
                                    td
                                        img(src=product.thumbnail alt=product.title style="max-width: 4rem")
            else
                h3(class="alert alert-danger") No se encontraron datos
    include includes/footer.pug
    +footer()